events {
  worker_connections 1024;
}
http {

	server {
	    location /{{getv "/ti/location"}}/ {
		proxy_pass        http://{{getv "/ti/proxytarget"}};
	   }
            location /{{getv "/gr/location"}}/ {
                proxy_pass        http://{{getv "/gr/proxytarget"}};
           }
            location /{{getv "/st/location"}}/ {
                root              {{getv "/st/root"}}; 
                index             {{getv "/st/index"}};
           }
	}
}

